PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=fusball_id
DB_USER=root
DB_PASSWORD=

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=2h

CLOUDINARY_CLOUD_NAME=xcj2gczs
CLOUDINARY_API_KEY=492872232131634
CLOUDINARY_API_SECRET=r2ZtFtaf8C8DJXcxZ4Kk6m566Zo